@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <!--link rel="stylesheet" href="/stylesheets/style.css" /-->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/git/jquery.mobile-git.css">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/git/jquery.mobile-git.js"></script>

    <script src="@routes.Assets.versioned("javascripts/atmosphere.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/websockModule.js")" type="text/javascript" ></script>


</head>
<body>
<div id="header"><h3>Play 형태소 분석기 Test</h3></div>
<div id="txtChatArea" style="overflow:auto;border:8px solid yellowgreen;padding:2%">
</div>
</br>
<input type="text" id="inChatStr"><button id="btnSend">Send</button>

</body>
</html>